h1 Gomoku
hr
div(class="jumbotron")
  h3(id="current_player") -- 
  a(href="1" id="restart") Relancer le jeu
  div(id="scores")
    p(id="score1") -- 
    p(id="score2") --
  p(id="error")
  ul(class="tabl")
    counter = 0
    -   for (var i = 0; i < 19; i++){
            li
                  ul(class="line")
                    -   for (var k = 0; k < 19; k++){
                        li(id="id-" + counter++)
                    -      }
    -      }
div(id="dialog-confirm")
  p.confirm
      input(type="checkbox", name="double")
      label(for="double").label double 3 
      br
      br
      input(type="checkbox", name="break5")
      label(for="break5").label 5 cassable
