h3(class="muted") Gomoku Epitech
hr
div(class="jumbotron")
  h1 Gomoku
  p(class="lead") Le jeu
  h3(id="current_player") -- 
  p(id="score1") -- 
  p(id="score2") -- 
  a(href="1" id="restart") Relancer le jeu
  ul(class="tabl")
    counter = 0
    -   for (var i = 0; i < 16; i++){
            li
                  ul(class="line")
                    -   for (var k = 0; k < 16; k++){
                        li(id="id-" + counter++)
                    -      }
    -      }
div(id="dialog-confirm")