!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')
    script(src='/javascripts/jquery-2.0.0.min.js')
    script(src='/javascripts/jquery.cookie.js')
    script(src='/jquery-ui/js/jquery-ui-1.10.3.custom.min.js')
    script(src='/javascripts/all.js')
    body
      .container-narrow
        .masthead
          ul(class="nav nav-pills pull-right")
            li
              a(href="/") Home
            li
              a(href="/about") About
            li
              a(href="/contact") Contact
        !=body